
.page-1 {
    font-family: "OpenSans-Regular"; 
}

.header-bar {
    background:rgb(49, 49, 49); 
    font-size: 30px;
}

.title {
    text-transform: uppercase;
    text-align: center;
    background: white;
    letter-spacing: 50px;   
}

.title p {
    margin-left: 38%;
}

.title img {
    height: 50%;
    margin-top: 2%;
    margin-left: 30%;
}

.center-section {
    background-color: rgb(49, 49, 49);
}

.carousel-item {
    color: white;
}
.current-info {
    padding-top:20px;
    padding-bottom: 20px;
    color: white;
}
.selectpicker {
    color: #808080;
}
.header-nav-1 select {
    margin-top: 15px;
}
.navbar-nav > li{
    padding-left:50px;
    padding-right:50px;
  }
.social-media img {
    height: 30px;
    padding: 0px 10px;
    margin-top: 15px;
  }
  .weather :nth-child(2) {
      margin-top: 10px;
      margin-bottom: 10px;
  }
  .hotel-tab button {
      border-radius: 0;
      background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .hotel-tab img {
    margin-right: 15px;
    border: white;
  }
  input .input-calendar [type='text'] {
    background: white url(img/calendar.svg) no-repeat ;
  }

