
.page-1 {
    font-family: "Open Sans"; 
}

.header-bar {
    background:rgb(49, 49, 49); 
    /* font-size: 20px; */
}

.title {
    text-transform: uppercase;
    text-align: center;
    background: white;
    letter-spacing: 20px;   
}

.title p {
    margin-left: 30%;
}

.title img {
    height: 30%;
    margin-left: 25%;
}

.jumbotron {
    background-color: rgb(49, 49, 49);
    font-family: "Open Sans";
}
.jumbotron button {
    padding: 20px 30px;
}
.slide-steps {
    margin-top: 10rem;
}
.deal h3 {
    font-size: 60px;
}
.deal h1 {
    font-size: 75px;
    font-family: "Open Sans";
}
.card-header {
    background-color: #313131;
}
.current-info {
    padding-top:20px;
    padding-bottom: 20px;
    color: white;
}
.selectpicker {
    color: #808080;
}
.header-nav-1 select {
    margin-top: 15px;
}
.navbar-nav > li{
    padding-left:0.5rem;
    padding-right:0.5rem;
    
  }
.nav-link { 
    word-spacing: 0.5rem;
    padding: 0.5rem 1rem;
  }
  .nav-link-top {
    width: 15rem;
    word-spacing: 0.5rem;
    padding: 0.5rem 1rem;  
  }
   
.availability-navbar > li {
    padding-left:1rem;
    padding-right:1rem;
  }

.social-media img {
    height: 25%;
    padding: 0% 0%;
    margin-top: 15px;
    margin-right: 0%
    z-index: 5;
}
.above-about-hotel-cards .top-image {
    height: 50px;
}
.above-about-hotel-cards {
    text-align: center;
}

.about-hotel {
    text-align: center;
}
.card-deck .card{
    border: solid 10px black;
    padding: 5%;
    width: 40rem;
}

.weather :nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}
.hotel-tab button {
    border-radius: 0; 
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hotel-tab img {
    margin-right: 15px;
    border: white;
}
input .input-calendar [type='text'] {
    background: white url(img/calendar.svg) no-repeat ;
}
.navbar-availability {
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.hotel-tab {
    margin-left: 5px;
}
.news-row {
    word-spacing: 60rem;
}
.news-container {
    display: inline;
    
}
.news-content {
    border: solid 1px gray;
}
.news-row {
    text-align: center;
}
.announcements-row {
    word-spacing: 30rem;
}
.announcements-container {
    display: inline;
    
}
.announcements-content {
    border: solid 1px gray;
}

.products-content {
    border: solid 1px gray;
}
.button-container {
    margin-left: 10%;
}
.button-container img {
    height: 0.8rem;
}

.view-all-button {
    padding: 1rem 30rem;
    background: none;
    border: solid 1px gray;
}
.footer-container {
    width: 120rem;
    margin-left:10rem; 
}
.deco-none {
    color: gray;
    text-decoration: darkgray;
  }
.hr-footer { 
    background-color: gray; 
    height: 1px; 
    border: 0; 
    width: 15rem;
    margin-left: 0;
}
.img-logo {
    height: 25%;
}
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}
@media only screen and (max-width: 600px) {
    .navbar-toggler-icon {
        background-color: white;
    }
}
