
*{
  margin: 0px;
  padding: 0px;
 
}
.wrapper {
  position: absolute;
  width: 1920px;
  left: calc((100vw - 1920px)/2);
}
.invites {
  margin: auto;
}
.kissingSection {
  background: url("../Images/kiss.png");
  height: 1696px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}

.kissingSection{
  position: relative;
  overflow: auto;
}
/*this is Alvaro's css*/
/* .kissingSection {
width: 100%;
height: 160vh;
overflow: auto;
color: white;
text-transform: uppercase;
background-color: black;
position: relative;
background-image: url();
background-position: center center;
background-repeat: no-repeat;
} */

.unityNav h1 {
  position: absolute;
  top: 155px;
  left: 855px;
  padding: 10px;
  padding-left: 20px;
  text-align: center;
  border: solid;
  border-width: 5px;
  border-color: white;
  color: #F8FBFA;
  font-family: "Gotham Black";
  color: rgb(255, 255, 255);
  letter-spacing: 12px;
  font-weight: lighter;
}

.topMenuBar{
  width: 80%;
  margin: 355px auto 25px;
}

.topMenuBar  li {
  display: inline;
  padding: 20px;
  text-align: center;
  margin: 50px auto;
  margin-left: 118px;
  font-family: "Abraham Lincoln";
  font-weight: lighter;
  font-size: 20px;
  letter-spacing: 4px;
 /* float: left; */
 /* text-decoration: none; */
 /* color: white; */
}
.topMenuBar li a{
  text-decoration: none;
  color: white;
}
.phoneLine {
  position: absolute;
  top: 0;
  right: -97px;

  /* float: right; */
}
.yellowCircle {
  right: 42px;
  top: 118px;
  position: absolute;
  border: yellow; 
}
.phone {
  top: 132px;
  right: 55px;
  position: absolute;
  
}
.sideNav {
  /* position: relative; */
  
  /* margin-top: 255px;
  margin-right: 50px; */
  
  float: right;
  transform: rotate(270deg);
}
.rotate {
  transform: rotate(90deg);
}
.sideMenu a{
  margin-right: 0px;
  text-decoration: none;
  color: white;
  padding: 5px;
}

/* .sideNav {
  width: 100%;
  height: auto;
  font-size: 12px;
  position: absolute;
  top: px;
  left: px;
  transform: rotate(270deg);
} */
.sideMenu {

}
.sideMenuBar li {
  text-decoration: none;
  display: inline-block;
}
.honor {
  /* margin-top: 602px; */
  text-align: right;
  margin-right: 35%;
  margin-top: 357px;
  color: rgb(255, 168, 0);
  font-family: "Abraham Lincoln";
  font-size: 100px;
  font-weight: normal;

}
.weBring {
  /* margin-top: 731px; */
  text-align: center;
  margin-right: 1%;
  margin-top: 34px;
  color: white;
  font-family: "Abraham Lincoln";
  font-weight: lighter;
  font-size: 40px;
}

.scrollSquare {
  right: 49%;
  top:70%;
  position: absolute; 
}
.scroll {
  color: white;
  right: 939px;
  top: 1250px;
  position: absolute;
  font-family: "Abraham Lincoln";
  font-size: 33px;
  font-weight: lighter;
}
.arrowDown {
  right: 962px;
  top:76%;
  position: absolute;
}
.sideCopyright {
  text-transform: rotate(270deg);
  color: white;
  display: inline;
  margin-top: 255px;
  float: right;
  transform: rotate(270deg);
}

.bigSquare1 {
    height: 702px;
    width: 702px;
    position: absolute;
    display: inline-block;
    margin-top: -240px;
    left: 31%;
    padding: 10px;
    text-align: center;
    border: solid;
    border-width: 21px;
    border-color: white;
    color: #F8FBFA;
    z-index: 1;
}
.o1 {
  font-family: "Abraham Lincoln";
    color: rgb(255, 168, 0);
    font-size: 356px;
    font-weight: 200;
    margin-left: 348px;
    margin-top: 142px;
}
  
.purpleSection{
  background-color: rgb(105, 79, 202);
  height: 1340px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  float: left;
  position: relative;
}
.invites {
  font-size: 102px;
  font-family: "Abraham Lincoln";
  color: white;
  margin-left: 649px;
  font-weight: 200;
  margin-top: -662px;
}
.thatsWhy {
  font-size: 31px;
  font-family: "Abraham Lincoln";
  color: white;
  margin-left: 649px;
  font-weight: 200;
  margin-top: -3px;
}
.complexity {
  font-size: 94px;
  font-family: "Abraham Lincoln";
  color: white;
  margin-left: 348px;
  font-weight: 200;
  margin-top: 186px;
}
.weKnow {
  font-size: 29px;
  font-family: "Abraham Lincoln";
  color: white;
  margin-left: 697px;
  font-weight: 200;
  margin-top: -319px;
  line-height: 1.5;
}

.brushBox {
    position: absolute;
    right: 12%;
    top: 12%;
    height: 452px;
    z-index: 2;
}
.brushBoxShadow {
  position: absolute;
  right: 26px;
  top: 12%;
  height: 540px;
  z-index: 1;
}

.handmadeContainer {
  position: absolute;
  left: 354px;
  top: 968px;
  color:white;
  font-family: "Abraham Lincoln";
  font-weight: lighter;
  font-size: 27px;
}

.handmade {
  color: rgb(255, 168, 0);
  font-size: 45px;
  margin-bottom: -18px;
}
.handmadeLine {
  margin-top: 25px;
  margin-bottom: 17px;
}

.creativeContainer {
  position: absolute;
  left: 838px;
  top: 968px;
  color:white;
  font-family: "Abraham Lincoln";
  font-weight: lighter;
  font-size: 27px;
}
.creative {
  color: rgb(255, 168, 0);
  font-size: 45px;
  margin-bottom: -18px;
}
.creativeLine {
  margin-top: 25px;
  margin-bottom: 17px;
}

.supportContainer {
  position: absolute;
  left: 1320px;
  top: 968px;
  color:white;
  font-family: "Abraham Lincoln";
  font-weight: lighter;
  font-size: 27px;
}
.support {
  color: rgb(255, 168, 0);
  font-size: 45px;
  margin-bottom: -18px;
}
.supportLine {
  margin-top: 25px;
  margin-bottom: 17px;
}
.bottomDashes {
  position: absolute;
  left: 899px;
  top: 1252px;
}

.buildingSky{
  background-color: #FFFFFF;
  height: 870px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1337px;
}
.weAreUnity {
  position: absolute;
  right: 26px;
  top: 12%;
  height: 344px;
}
.buildingSky h1 {
  font-size: 111px;
  font-family: "Abraham Lincoln";
  color: black;
  margin-left: 580px;
  font-weight: 200;
  margin-top: 184px;
  position: absolute;
}
.buildingSky p {
  font-size: 41px;
  font-family: "Abraham Lincoln";
  color: black;
  margin-left: 466px;
  font-weight: 200;
  margin-top: 312px;
  position: absolute;
  text-align: center;
}
.circle1 {
  position: absolute;
  right: 841px;
  top: 51%;
  border-radius: 50%;
  border: solid;
  border-color: #cbc1c1;
  border-width: 1px;
  height: 328px;
  width: 328px;
}

.circle2 {
  position: absolute;
  right: 894px;
  top: 57%;
  border-radius: 50%;
  border: solid;
  border-color: #cbc1c1;
  border-width: 1px;
  height: 222px;
  width: 222px;
  background-color: #e5e5e5;
}

.circle3 {
  position: absolute;
  right: 946px;
  top: 63%;
  border-radius: 50%;
  border: solid;
  border-color: #cbc1c1;
  border-width: 1px;
  height: 112px;
  width: 112px;
}
.playButton {
  position: absolute;
  right: 988px;
  top: 67%;
}

.buildingSection{
  background: url(../Images/prototype.psd_0008s_0007_Layer-16.png);
  height: 897px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1330px;

}
.bigSquare2 {
  height: 566px;
  width: 566px;
  position: absolute;
  display: inline-block;
  margin-top: 538px;
  left: 31.5%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 21px;
  border-color: black;
  color: #F8FBFA;
  z-index: 1;
}
.whiteSection{
  background-color: #F8FBFA;
  height: 1375px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1330px;
}

.pencilBasket{
  position: absolute;
  right: 60%;
  top: 8%;
  height: 181px;
  z-index: 2;
}
.pencilBasketShadow {
  position: absolute;
  right: 57%;
  top: 7%;
  height: 224px;
}
.blackPencil {
  position: absolute;
  right: 59%;
  top: 21%;
  height: 88px;
  z-index: 1;
}
.blackPencilShadow {
  position: absolute;
  right: 58%;
  top: 20%;
  height: 122px;
}
.yellowPencil {
  position: absolute;
  right: 59%;
  top: 24%;
  height: 61px;
  z-index: 1;
}
.yellowPencilShadow {
  position: absolute;
  right: 54.5%;
  top: 22.5%;
  height: 96px;
}
.honorTheDetails {
  position: absolute;
  text-transform: uppercase;
  text-align: right;
  top: 9%;
  right: 20%;
}



.snowSection{
  background: url(../Images/prototype.psd_0005s_0002s_0000_Layer-18.png);
  height: 2200px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1325px;
}
.bigSquare3 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: black;
}
h1.unity2 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: #F8FBFA;
}
.footerSection{
  background-color: black;
  height: 800px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 1324px;
}
.phoneNumber {
  color: white;
}
.email {
  color: white;
}
.emailInput {
  color: white;
  border: 2px solid grey;
}
.fromBlog {
  padding-top: 0px;
  padding-bottom: 10px;
  color: white;
  vertical-align: text-top;
}
.date {
  color: purple;
}
.blogHead {
  vertical-align: text-top;
}
