body {
  font-family: 'Cinzel', serif;
   /* background: url("../images/dark-books.jpg"); */
   background-repeat: no-repeat;
   background-size: cover;

}

th {
  width: 30%;

}
.search-form-container, .landing{
  margin: 1rem 15rem;
  border: solid 1px black;
  text-align: center;
}