
*{
  margin: 0px;
  padding: 0px;
}
.invites {
  margin: auto;
  
}
h1.unity1 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: #F8FBFA;
}
.kissingSection {
  background: url("../Images/kiss.png");
  height: 1696px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.bigSquare1 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: #F8FBFA;
  }
  
.purpleSection{
  background-color: rgb(105, 79, 202);
  height: 1340px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}

.buildingSky{
  background-color: #FFFFFF;
  height: 870px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.buildingSection{
  background: url("../Images/prototype.psd_0008s_0007_Layer-16.png");
  height: 897px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.bigSquare2 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: black;
  color: #F8FBFA;
}
.whiteSection{
  background-color: #F8FBFA;
  height: 1375px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.snowSection{
  background: url("../Images/prototype.psd_0005s_0002s_0000_Layer-18.png");
  height: 2200px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.bigSquare3 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: black;
}
h1.unity2 {
  position:absolute;
  display: inline-block;
  margin-top: 154;
  left: 50%;
  padding: 10px;
  text-align: center;
  border: solid;
  border-width: 2px;
  border-color: white;
  color: #F8FBFA;
}
.footerSection{
  background-color: black;
  height: 800px;
  width: 100%;
  margin: 0px;
  background-position: center;
  background-size: cover;
}
.phoneNumber {
  color: white;
}
.email {
  color: white;
}
.emailInput {
  color: white;
  border: 2px solid grey;
}
.fromBlog {
  padding-top: 0px;
  padding-bottom: 10px;
  color: white;
  vertical-align: text-top;
}
.date {
  color: purple;
}
.blogHead {
  vertical-align: text-top;
}
